/* element styling */
body {
    background-color: #fed8bf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 0% 1rem 0%;
}

article {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
    background-color: #ffffff;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.top-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 27.25rem;
}

    #top-image {
        position: absolute;
        width: 100%;
    }

.now-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin-top: -21rem;
}

    .now-playing > div {
        z-index: 2;
        flex: 1;
    }

    .now-playing-h1 {
        margin-top: -9rem;
    }

    .now-playing-album > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20rem;
        width: auto;
        border-style: solid;
        border-radius: 20px;
    }

audio {
    border-radius: 50px;
    /* can't figure out how to move this up */
    margin-top: -10rem; 
}

.display {
    color: #000000;
    margin-top: 15rem;
    width: 100%;
}

    .display > h2 {
        margin-top: 1rem;
        background-color: #FEBFC6;
        border-top: solid;
        border-bottom: solid;
        border-width: 2px;
        border-color: #000000;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #play-set {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

.collection {
    display: inline-flex;
}

    .collection > div {
        flex: 1;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 33%;
    }

    .collection img {
        height: 10rem;
        width: auto;
        border-style: solid;
        border-radius: 20px;
        border-width: 2px;
    }

.add-album > h2 {
    margin-top: 1rem;
    background-color: #FEBFC6;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form {
    /* position: absolute; */
    color: #000000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}

    form > div {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    /* .title-input-div, .genre-select-div {
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .name-input-div, .art-input-div {
        margin-right: 2rem;
        margin-left: 1rem;
    } */

    input, select {
        border-style: solid;
        border-radius: 20px;
        border-color: #000000;
        width: 100%;
        align-content: center;
        text-align: center;
        margin-bottom: 2rem;
        padding: .65rem;
        font-size: x-large;
        margin-top: .75rem;
    }

    select{
        padding-left: 12rem;
        padding-right: 12rem;
    }

.bottom-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #bottom-image {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    /* text styling */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

label {
    font-size: 1.5rem;
}

#title {
    font-size: 1.5rem;
    margin-bottom: 0%;
}

#artist {
    font-size: 1rem;
}

.small-title {
    font-size: 1.5rem;
    margin-bottom: 0%;
}

.small-artist {
    font-size: 1rem;
}

/* interactivity */
img {
    transition: transform .6s;
}

.album-art {
    transition: transform .6s;
}

.now-playing-album {
    transition: transform .6s;
}

.now-playing-album > img:hover, .album-art > img:hover {
    transform: scale(1.02);
}

input:focus, select:focus {
    box-shadow: 1px 5px 15px #00000040;
}

audio:hover {
    box-shadow: 1px 5px 15px #00000040;
}

button:hover {
    box-shadow: 1px 5px 15px #00000040;
}

.now-playing > img:hover {
    box-shadow: 1px 5px 15px #00000040;
}